#  Introduction 
Working with data is most exciting job in 21st century. With this easily accessible internet technolgy and with abundance of data and freely available online sources to boost data anlysis skils available out there it has become easier for most of the people to dive in this field for either swithching to this career or accelerating present job or even for interest to invest in stock market. Understanding data and making inference out of it takes experience and a right track for starters. In this tutorial we will cover topics from as basic as dissecting data to advance as faster and parallel execution with "Ray" variant of Pandas.

In [2]:
#import pandas and numpy
import pandas as pd
import numpy as np

### Import BlackRock past one year Dataset (15 April 2018- 10 May 2019). This data is available in data folder. Some changes have been made in this data for this tutorial. ###

In [3]:
data = pd.read_csv('./data/BLK.csv')                            #change your path

In [4]:
data.shape          # prints (rows,columns)

(19, 7)

Have understanding of data columns, data values by printing few entries. Following code prints first five examples of dataset. There are three things in dataframe to be taken care of for data crunching

* Index
* Columns
* Data values

Index and Column names make it easier to access a particular entry or subset of data.

In [5]:
data.head()         #prints 0-4 examples of data frame
# data.tail()       # prints last five entries of data

,Date,Open,High,Low,Close,Adj Close,Volume
0,4/15/2019,456.359985,457.100006,449.769989,451.859985,451.859985,590800
1,4/16/2019,453.100006,466.890015,453.000000,466.540009,466.540009,1030700
2,4/17/2019,466.980011,468.779999,462.420013,467.489990,467.489990,628200
3,4/18/2019,468.779999,469.369995,465.690002,465.690002,465.690002,530400
4,4/22/2019,463.750000,465.660004,462.149994,464.019989,464.019989,432900

In case, we required to print more rows then we can pass and argument to the head.

In [6]:
data.head(10) # print first 10 rows of the datset

,Date,Open,High,Low,Close,Adj Close,Volume
0,4/15/2019,456.359985,457.100006,449.769989,451.859985,451.859985,590800
1,4/16/2019,453.100006,466.890015,453.000000,466.540009,466.540009,1030700
2,4/17/2019,466.980011,468.779999,462.420013,467.489990,467.489990,628200
3,4/18/2019,468.779999,469.369995,465.690002,465.690002,465.690002,530400
4,4/22/2019,463.750000,465.660004,462.149994,464.019989,464.019989,432900
5,4/23/2019,464.000000,474.029999,463.899994,474.029999,474.029999,687400
6,4/24/2019,474.029999,482.369995,472.609985,480.170013,480.170013,1008500
7,4/25/2019,477.890015,480.480011,472.609985,474.450012,474.450012,598700
8,4/26/2019,475.109985,479.459991,471.850006,478.980011,478.980011,469000
9,4/29/2019,NaN,481.579987,478.609985,479.839996,479.839996,366900

In [69]:
print(data.columns)        # prints data column names
print(data.index)          # prints index name if any
#To set index name run following

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
RangeIndex(start=0, stop=19, step=1)

Check the type of columns and indexes

In [70]:
print(type(data.columns))
print(type(data.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

Both types seem closely related, infact pandas has number of similar objects reserved for either Index or column. Both Index and columns must be some kind of Index object. "issubclass" buildin method shows if RangeIndex is subclass of Index. Let's check

In [71]:
print(issubclass(pd.RangeIndex, pd.Index))

True

Now let's check for data types of columns

In [72]:
data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [73]:
data.get_dtype_counts()      #counts of datatypes in dataframe.

float64    5
int64      1
object     1
dtype: int64

** Accessing a particular entry from dataframe. **
Python has number of in-built containers like lists, dictionary, tuple , each of which uses index to access element. In similar fashion Pandas has dataframe as complex container which uses index or column names to access data point.

In [74]:
# Access with Column name

data['Open']      #fetches "Open" pandas series
# one can rename this pandas series if one has to work with sigle column only
open_data = data['Open']
print(open_data)

0     456.359985
1     453.100006
2     466.980011
3     468.779999
4     463.750000
5     464.000000
6     474.029999
7     477.890015
8     475.109985
9            NaN
10    479.739990
11    486.839996
12    479.510010
13           NaN
14    472.920013
15    473.609985
16    462.179993
17    458.730011
18    461.850006
Name: Open, dtype: float64

Above method is recommended but there is another dot method i.e. `data.Open` to access columns, which is quite error prone. You can not access column if the dataframe has column names with special characters and spaces in it as well as if column name is same as pandas DataFrame method name.

In [75]:
# Access complete row with index 
data.iloc[0]

Date         4/15/2019
Open            456.36
High             457.1
Low             449.77
Close           451.86
Adj Close       451.86
Volume          590800
Name: 0, dtype: object

In [76]:
#Access particular entry with index and column name
data.iloc[0]['Close']

451.85998499999994

Lets find some statistics out of above DataFrame i.e. min, max, median, mode, std, sum of `open_data` series

In [77]:
print(open_data.min());
print(open_data.max());
print(open_data.mean());
print(open_data.median());
print(open_data.std());
print(open_data.sum());

453.10000599999995
486.839996
469.14000023529405
468.77999900000003
9.335423854402823
7975.380004

Now above statatistics could be found in one line of code i.e. `open_data.describe()`  (Please try yourself)

In [78]:
# get 0.2 quantile out of data
open_data.quantile(0.2)

461.91600339999997

In [79]:
# check if any null value
open_data.isnull()

'''
out []

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
Name: Open, dtype: bool
'''

# or
total_number_of_nulls = sum(open_data.isnull())
print(total_number_of_nulls)

2

Fill NaNs with some number, Now this some number depends on business cases corresponsing data would have. Lets fill it with 0
for now

In [80]:
filled_open_data = open_data.fillna(0)
# to fill NaNs of specific type say int, run following command


fill_open_data = open_data.fillna(0).astype(int)
# check if any NaNs now?
print(sum(filled_open_data.isnull()))

0

If one has enough data and information would not be lost much then one can drop particular row which is having null value.

In [81]:
dropped_open_data = open_data.dropna()
dropped_open_data.head()

0    456.359985
1    453.100006
2    466.980011
3    468.779999
4    463.750000
Name: Open, dtype: float64

Arithmetic Operations can be applied on Pandas series like positive, multiply, divide.

In [82]:
# addition of 1 in dropped_open_data column

add_dod = dropped_open_data + 1
mul_dod = dropped_open_data * 2
divide_dod = dropped_open_data // 3

print(add_dod.head())
print(mul_dod.head())

0    457.359985
1    454.100006
2    467.980011
3    469.779999
4    464.750000
Name: Open, dtype: float64
0    912.719970
1    906.200012
2    933.960022
3    937.559998
4    927.500000
Name: Open, dtype: float64

Following are three methods to change column names of dataframe

In [83]:
#Rename column names in pandas make list of new names and replace inplace with new names

#columns = ['date', 'open', 'high', 'low', 'close', 'Adj_close', 'vol']
#data.columns = columns

# rename and create new Dataframe
df = data.rename(columns={'Date': 'date', 'Open': 'open','High': 'high', 'Low':'low', 'Close':'close','Adj Close':'Adj_close','Volume':'vol'})

# Or rename the existing DataFrame (rather than creating a copy) 
#data.rename(columns={'Date': 'date', 'Open': 'open','High': 'high', 'Low':'low', 'Close':'close','Adj Close':'Adj_close','Volume':'vol'}, inplace=True)

Creating new column

In [84]:
# create new column with entries 0 (easiest one)
data['zero_risk'] = 0
#check column names in dataframe now
print('data columns after adding new column are :',data.columns)

data columns after adding new column are : Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'zero_risk'],
      dtype='object')